{% extends "admin.html.twig" %}

{% block title %}User Management{% endblock %}
{% block content %}
<div class="card card-body">
  <h3 class="card-title">User Management</h3>
  <table class="table dtable dt-responsive table-striped" data-column-data='["id","last_name","first_name","username","actions"]' data-source="{{ link('api/v1/user') }}">
    <thead>
      <tr>
        <th>User ID</th>
        <th>Surname</th>
        <th>Given Name</th>
        <th>Username</th>
        <th class="text-center no-export" data-priority="1" data-class="text-right" data-renderer="function(data,type,row,meta){ return tableActions(data,type,row,meta,'{{ config.path }}/adm/user') }">Actions</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
{% endblock %}