{% set contentType = 'User' %}
{% set apiPath = 'api/v1/user/' ~ data.0.id %}
{% set formAction = 'Update' %}

{% extends "admin.form.html.twig" %}
{% import "field.html.twig" as field %}

{% block form %}
{{ field.input( constant('\\FAE\\fields\\field::TEXT_SHORT'), 'first_name', 'Given Name', {"max":"60","required":true,"value":data.0.first_name} ) }}
{{ field.input( constant('\\FAE\\fields\\field::TEXT_SHORT'), 'last_name', 'Surname', {"max":"60","required":true,"value":data.0.last_name} ) }}
{{ field.input( constant('\\FAE\\fields\\field::TEXT_EMAIL'), 'email', 'Email', {"max":"120","required":true,"value":data.0.email} ) }}
{{ field.input( constant('\\FAE\\fields\\field::TEXT_SHORT'), 'username', 'Username', {"max":"128","required":true,"value":data.0.username} ) }}
{{ field.input( constant('\\FAE\\fields\\field::SELECT_SIMPLE'), 'perm_group_id', 'Perm Group ID', {"source":"api/v1/perm-group","required":true,"value":data.0.perm_group_id} ) }}
{% endblock %}