{% set contentType = 'User' %}
{% set apiPath = 'api/v1/user' %}
{% set formAction = 'Create' %}

{% extends "admin.form.html.twig" %}
{% import "field.html.twig" as field %}

{% block form %}
{{ field.input( constant('\\FAE\\fields\\field::TEXT_SHORT'), 'first_name', 'First Name', {"max":"60","required":true} ) }}
{{ field.input( constant('\\FAE\\fields\\field::TEXT_SHORT'), 'last_name', 'Last Name', {"max":"60","required":true} ) }}
{{ field.input( constant('\\FAE\\fields\\field::TEXT_EMAIL'), 'email', 'Email', {"max":"120","required":true} ) }}
{{ field.input( constant('\\FAE\\fields\\field::TEXT_SHORT'), 'username', 'Username', {"max":"128","required":true} ) }}
{{ field.input( constant('\\FAE\\fields\\field::SELECT_SIMPLE'), 'perm_group_id', 'Permission Group', {"source":"api/v1/perm-group","required":true} ) }}
{% endblock %}